/*header样式设置*/
.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 60px;
}
.mat-toolbar-row[_ngcontent-c22], .mat-toolbar-single-row[_ngcontent-c22] {
  /*background: rgba(205, 172, 255, 0.5);*/
  height: 60px;
}
.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font: 500 18px/24px Roboto,"Helvetica Neue",sans-serif;
  margin: 0;
}

.system_title{
  width: 80px;
}

.lookup {
  color: #333;
  border: none;
  border-radius: 100px;
  background-color: #fafafa;
  padding: 5px 16px;
  margin-left: 12px;
  width: 180px;
  max-width: 240px;
  height: 50%;
  -webkit-appearance: none;
}

/*侧边栏样式设置*/
.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(205, 172, 255, 0.5);
  box-shadow:5px 0 5px rgba(0, 0, 0, 0.1);
}

/*footer样式设置*/
.mat-toolbar{
  background: rgba(164, 113, 255, 0.5);
}
.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/*
指定侧边栏的宽度
 */
/*mat-sidenav {*/
  /*width: 200px;*/
/*}*/
